<div class="container-fluid fill no-gutters bg-studio">
    <div class="row navbar-pad" id="login-row">
        <div class="hide-lg translucent margin-left col-md-5 col-md-offset-4 jumbotron bg-cream">
            <%= render 'login_form'%>
        </div>

        <div class="hide-sm translucent col-md-10 offset-md-1 jumbotron bg-cream">
            <%= render 'login_form'%>
        </div>
    </div>
</div>
