<div class="container-fluid fill no-gutters bg-studio">
    <div class="row navbar-pad" id="login-row">
        <div class="hide-lg margin-left col-md-5 col-md-offset-4">
            <%= render 'login_form'%>
        </div>

        <div class="hide-sm zoom col-md-10 offset-md-1">
            <%= render 'login_form'%>
        </div>
    </div>
</div>
