<div class="container-fluid fill no-gutters bg-studio">
  <div class="row navbar-pad">
    <div class="translucent margin-left col-md-4 col-md-offset-4 jumbotron bg-cream">
      <h3 class="center-w"> Password Reset </h3>
      <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <%= f.submit "Submit", class: "center-w btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
