<div class="containter">
  <h2 class="center">Shopping Cart</h2>
  <% @cart.cards.each do |card| %>
    <div class="row">
      <div class="col"> <%= card.content %> <%= link_to "Remove", selection_path(get_selection(@cart, card)), method: :delete%> </p>
    </div>
  <% end %>

  <%= link_to 'Clear', "#" %>
</div>
