<div class="container-fluid fill no-gutters bg-studio">
    <div class="row navbar-pad" id="login-row">
        <div class="translucent margin-left col-md-5 col-md-offset-4 jumbotron bg-cream">
            <h1 class="center-w">New User</h1>
            <%= render 'form', user: @user %>
        </div>
    </div>
</div>

