<form target="_blank" method="post" action="/orders">


    <%= button_tag(type: "submit", class: "btn btn-primary", id: "submit") do %>
        <span id="button-text"> Checkout </span>
    <% end %>
</form>