<% if border %>
    <% css = "btn rectangle d-flex justify-content-center gray-border"%>
<% else %>
    <% css = "btn rectangle d-flex justify-content-center"%>
<% end %>
<%= link_to cards_path(content.parameterize.underscore=> "1"), class:css do %> 
    <div class="container fill">
        <% if card_type == "post card"%>
            <div class="margin-left-md fill-h row center">
        <% else %>
            <div class="fill-h row center">
        <% end %>
            
                <% images.each do |card| %>
                    <img class="responsive-img-mobile" src=<%= rails_blob_path(card.display_s3)%> >
                <% end %>
                <br>
                <span class="center label-bold cursive-font bottom"> <%= content.capitalize %> Cards </span>
            </div>  
    </div>
<% end %>