<div class="with-gutters">
    <div class="hero-image">
      <div class="hero-text">
        <h1>New Designs!</h1>
        <button>All New Designs</button>
      </div>
   </div>

<div class="container">
  <br>
  <div class="row long">
    
    <div class="col-6">

    	 <%= link_to "Birthday", cards_path(birthday: "1"), class:"btn bg-cream fill black-border"%> <br>
    	
    </div>
    <div class="col-6">

    	<%= link_to "Sympathy", cards_path(sympathy: "1"), class:"btn bg-cream fill black-border"%> <br>
      
    </div>
  </div>
  <br> <br>
  <div class="row long">
    <div class="col-6">

    	<%= link_to "Thank You", cards_path(thank_you: "1"), class:"btn bg-cream fill black-border"%> <br>
      
    </div>
    <div class="col-6">

    	<%= link_to "Blank", cards_path(blank: "1"), class:"btn bg-cream fill black-border "%> <br>
    </div>
  </div>
</div>
    
</div>
