<h1> HOME! </h1>

<p>birthday thank you sympathy and blank</p>

<p>make four buttons here, depending on which one they click pass that</p>

<li><%= link_to "birthday", birthday_path, class:"nav-link"%>
<li><%= link_to "Sympathy", sympathy_path, class:"nav-link"%>		
<li><%= link_to "anniv", anniversary_path, class:"nav-link"%>
<li><%= link_to "blank", shop_path, class:"nav-link"%>
