<center><h1> jk! Jewfro Design Studio </h1></center>



<div class="hero-image">
  <div class="hero-text">
    <h1>New Designs!</h1>
    <button>All New Designs</button>
  </div>
</div>

<p>birthday thank you sympathy and blank</p>

<p>make four buttons here, depending on which one they click pass that</p>

<li><%= link_to "birthday", cards_path(content: "birthday"), class:"nav-link"%>
<li><%= link_to "Sympathy", cards_path(content: "sympathy"), class:"nav-link"%>		
<li><%= link_to "thank you", cards_path(content: "thank you"), class:"nav-link"%>
<li><%= link_to "blank", cards_path(content: "blank"), class:"nav-link"%>
