// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.filter-box {
    height: 30px;
    width: 90%;
    padding: 5px;
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.bg-normal {
    background-color: rgb(250, 234, 234);
}

.margin-bottom {
    margin-bottom: 100px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

.img-cont {
    display: inline-block;
}

.img-center {
    vertical-align: middle;
}

.margin-top-postcard { 
    margin-top: 50px;
}

.lg-checkbox {
    width:20px;
    height:20px;
    margin-left: 20px;
}

.label-bold {
    padding-top: 2px;
    font-weight: bold;
}

@media (min-width: 1500px) {
    .pad-top-lg {
        padding-top: 20px;
    }

    .fold-over {
        height: 250px !important;
        width: 200px !important;
    }

    .post-card {
        height: 200px !important; 
        width: 250px !important;
    }

    .margin-top-lg {
        margin-top: 80px;
    }
}

.center-w {
    text-align: center;
    justify-content: center;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.max-size {
    max-width: 300px;
    max-height: 300px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-indicators li{
    background-color: transparent;
}