// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 900px){
  body, html{
    .zoom {
      zoom: 150%;
    }
  }
}

body, html {
    height: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(250, 234, 234)
}

@media (max-width: 1210px) {
  .hide-lg {
    display: none;
  }

  .mobile-img-cont {
    margin: auto;
    height:300px;
    width:300px;
    border: 10px solid rgb(252, 199, 199);
    text-align: center;
  }
}

@media (min-width: 1211px) {
  .hide-sm {
    display: none;
  }
}

.bg-light-pink {
  background-color: rgb(250, 217, 217)
}

.bg-light-green {
  background-color: rgb(202, 255, 181)
}

.opaque {
  opacity: 1 !important;
}

.magenta {
  color: rgb(255, 44, 244);
}

.btn-info {
  color: #fff !important;
}

.btn-success {
  color: #fff !important;
}

.btn-magenta {
  color: #ffffff !important;
  background-color: #f94bff;
  border-color: #f94bff;
}

.btn-danger {
  color: #ffffff !important;
}

.black-border {
  border: 1px solid black;
}

.gray-border {
  border: 1px solid #ccc;
  border-radius: 16px;
}


.magenta-border {
  border: 1px solid rgb(255, 44, 244);
  border-radius: 16px;
}


.padding-sides {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.pad-all {
  padding: 40px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  padding-top: 20px;
}

.navbar-brand {float:none;}


/* taken from: https://css-tricks.com/perfect-full-page-background-image/ */
// html { 
//   background: url(background1.jpg) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.flowers {
  background-image: url(side-flowers.jpg);
  background-size: 1200px;
  background-repeat: repeat-y;
}

.long {
  height: 400px;
}

.fancy-font {
  font-family: "Trattatello, fantasy"
}

.responsive-img {
  max-width: 50%;
  height: auto;
  max-height: 200px;
}

.responsive-mobile-fold-over {
  width: 75%;
  height: auto;
}

.responsive-mobile-post-card {
  width: auto;
  height: 75%;
}

  // .limit-size {
  //   max-height: 200px;
  //   max-width: 200px;
  // }


.button-cell{
	display: table-cell;
	height: 100%;
}

.button-container{
	display: table;
	height: 400px;
	width: 100%;
}

.table-cont{
    height: 100%;
}

.long{
	height: 400px;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(252, 253, 252, 0.5), rgba(240, 255, 235, 0.5)), url("banner-background.jpg");

  /* Set a specific height */
  height: 130px;
  

  /* Position and center the image to scale nicely on all screens */
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  backdrop-filter: blur(3px);
  text-align: center;
  color: black;
}