// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body, html {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(250, 234, 234)
}

.min-h {
  min-height: 100vh;
}

@media (max-width: 800px) {
  .hide-lg-more {
    display: none;
  }
}

@media (max-width: 1210px) {
  .hide-lg {
    display: none;
  }

  .mobile-img-cont {
    margin: auto;
    height:175px;
    width: 100%;
    border: 5px solid rgb(252, 199, 199);
    text-align: center;
  }
}

@media (min-width: 1211px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 801px) {
  .hide-sm-more {
    display: none;
  }
}

.bg-light-pink {
  background-color: rgb(250, 217, 217)
}

.bg-light-green {
  background-color: rgb(202, 255, 181)
}

.opaque {
  opacity: 1 !important;
}

.magenta {
  color: rgb(255, 44, 244);
}

.btn-info {
  color: #fff !important;
}

.btn-success {
  color: #fff !important;
}

.btn-magenta {
  color: #ffffff !important;
  background-color: #f94bff;
  border-color: #f94bff;
}

.btn-danger {
  color: #ffffff !important;
}

.bottom {
  position: absolute;
   bottom: 10px;
   right: 0;
}

.no-border {
  border: none;
}

.black-border {
  border: 1px solid black;
}

.gray-border {
  border: 1px solid #ccc;
  border-radius: 16px;
}


.border-top{
  border-top: 1px solid rgb(255, 255, 255);
}

.magenta-border {
  border: 1px solid rgb(255, 44, 244);
  border-radius: 16px;
}


.padding-sides {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.pad-all {
  padding: 40px;
}

.pad-all-md {
  padding: 15px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  padding-top: 20px;
}

.navbar-brand {float:none;}


/* taken from: https://css-tricks.com/perfect-full-page-background-image/ */
// html { 
//   background: url(background1.jpg) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

@media (max-width: 1210px) {
  h1 {
    font-size: medium;
  }
}

.flowers {
  background-repeat: repeat-y;
  background-image: url("side-flowers.png");
  -webkit-background-size: 1200px;
  background-size: 1200px;
}

@media (min-width: 1211px) {
  .long {
    height: 400px;
  }
}

@media (max-width: 1210px) {
  .long {
    height: 200px;
  }
}

.fancy-font {
  font-family: "Trattatello, fantasy"
}

.cursive-font {
  font-family: "URW Chancery L, cursive"
}

.responsive-img-postcard {
  max-width: 60%;
  max-height: 50%;
}



.responsive-img {
  max-width: 50%;
  height: auto;
}

@media (max-width: 750px) {
  .responsive-img-mobile{
    max-width: 100%;
    height: auto;
  }

}

@media (min-width: 751px) {
  .responsive-img-mobile{
    max-width: 50%;
    height: auto;
  }

}


.responsive-img-sm {
  max-width: 40%;
  height: auto;
}

.responsive-mobile-fold-over {
  width: 75%;
  height: auto;
}

.full-img {
  width: 75%;
  height: auto;
}

.responsive-mobile-post-card {
  width: auto;
  max-width: 100%;
  height: 75%;
}



.button-cell{
	display: table-cell;
	height: 100%;
}

.button-container{
	display: table;
	height: 400px;
	width: 100%;
}

.table-cont{
    height: 100%;
}

.bg-login {
  background-image: url("banner-background.jpg");
  background-size: 1200px;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(252, 253, 252, 0.5), rgba(240, 255, 235, 0.5)), url("banner-background.jpg");

  /* Set a specific height */
  height: 130px;
  

  /* Position and center the image to scale nicely on all screens */
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  backdrop-filter: blur(3px);
  text-align: center;
  color: black;
}