// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.white {
    color: white;
}

.white:visited{
    color: white;
}

.blue:visited{
    color: rgb(73, 130, 252);
}

.blue {
    color: rgb(36, 103, 247);
}

.txt-lg {
    font-size: medium;
}

.white:hover{
    color: rgb(0, 174, 255);
}

.blue:hover{
    color: rgb(0, 174, 255);
}

.pink-text {
    color: rgb(184, 111, 111)
}
