// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.white {
    color: white;
}

.white:visited{
    color: white;
}

.txt-lg {
    font-size: medium;
}

.white:hover{
    color: rgb(0, 174, 255);
}

.blue {
    color: blue;
}
