<footer class="section footer bg-cream">
  <div class="container text-center pad-top-less">
    <h4 class="txt-md"> <strong> Contact Me: </strong> </h4>
    <p> <a class="pad-all-md" href="https://www.facebook.com/Jennifers-Design-Studio-447060305723356/"><i style="color:magenta;" class="fab fa-facebook fa-2x"></i></a>
     <a class="pad-all-md" href="https://www.instagram.com/jennifersdesignstudio/"><i style="color:magenta;" class="fab fa-instagram fa-2x"></i></a>
     <a class="pad-all-md" href="mailto:jenniferruditsky@gmail.com"><i style="color:magenta;" class="fas fa-envelope fa-2x"></i></a></p>
  </div>
</footer>